<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Excalibur Coding Test</title>
</head>
<body>

        <form th:object="${orderDate}" th:action="@{/processOrderDate}" method="post">

            <input type="hidden" th:field="*{order_id}" name="orderDateId"/>

        Order Date:
        <input type="date" th:field="*{order_date}"/>
        <span th:if="${#fields.hasErrors('order_date')}" th:errors="*{order_date}">Please Enter a date.</span><br/>

            Order Date:
            <input type="date" th:field="*{order_date}"/>
            <span th:if="${#fields.hasErrors('order_date')}" th:errors="*{order_date}">Please Enter a date.</span><br/>

            <input type="submit" value="Submit"/>

        </form>

<script>
    var dateControl = document.querySelector('input[type="date"]');
    var year = new Date().getFullYear();
    dateControl.min = year + '-01-01';
    dateControl.max = year + '-12-31';
</script>

</body>
</html>