<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Excalibur Coding Test</title>
</head>
<body>

    <form th:object="${order}" th:action="@{/processForm}" method="post">

        <input type="hidden" th:field="*{order_id}"/>

        Order Date:
        <input type="text" th:field="*{order_date}"/><br/>

        Order Amount:
        <input type="text" th:field="*{order_amount}"/><br/>

        Order Description:
        <textarea type="text" th:field="*{order_description}" cols="20" rows="10"/><br/>

        <input type="submit" value="Submit"/>

    </form>

</body>
</html>